*{
    box-sizing: border-box;     
}
/* .together{
    display: flex;
    justify-content: space-between;
} */
/* .btn{
    font-size: 2rem;
    font-weight: normal;
} */


.navbar{
    background: white;
    opacity: 90%;
}
.container-top{
    margin-top: 10rem;
}
.navbar-brand{
    flex-basis: 2rem;
    margin-top: 1rem;
}
.logo{
    margin-bottom: 2rem;

}
.logo-item{
    margin-right: 0.5rem;
}
.content-1{
    text-align: right;
    line-height: 2rem;
}
.image-1{
    width: 31rem;
 }
.text{
    margin-top: 1rem;
}

.title{
    max-width: 18rem;
    
    line-height: 3rem;
}
.title-text{
text-align: justify;
}
.map-pic{
    margin-top: 8rem;
}
.map{
    width: 100%;
}
.profile-text{
    margin-right: 1.2rem;
}
.text-900{
    margin-left: 0.8rem;
    margin-top: 0.2rem;
}
.pagination{
    width: 15rem;
}

.carousel-indicators
{
    border: none;

}
.card-content{
    margin-top: 12rem;
    justify-content: normal;
    display:flex;
}
.text-card{
    font-size: 1.1rem;
    font-weight: 600;   
}
.row-company{
    margin-top: 9rem;
    padding-left: 1rem;
}
.col-pa{
    padding-right: 2rem;
}

.information-text{
    max-width: 25rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.product{
    font-weight: 700;
}
.product-text{
    color: black;
}


